In [56]:
!pip install -r requirements.txt

Requirement already satisfied: pandas==1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 1)) (1.0.1)
Requirement already satisfied: numpy==1.18.1 in /opt/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 2)) (1.18.1)
Requirement already satisfied: seaborn==0.10.0 in /opt/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 3)) (0.10.0)
Requirement already satisfied: matplotlib==3.1.3 in /opt/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 4)) (3.1.3)
Requirement already satisfied: scikit-learn==0.22.1 in /opt/anaconda3/lib/python3.7/site-packages (from -r requirements.txt (line 5)) (0.22.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas==1.0.1->-r requirements.txt (line 1)) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas==1.0.1->-r requirements.txt (line 1)) (2.8.1)
Requirement already satisfied: scipy>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from seaborn==0.10.0->-r requirements.txt (line 3)) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib==3.1.3->-r requirements.txt (line 4)) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib==3.1.3->-r requirements.txt (line 4)) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.7/site-packages (from matplotlib==3.1.3->-r requirements.txt (line 4)) (0.10.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.7/site-packages (from scikit-learn==0.22.1->-r requirements.txt (line 5)) (0.14.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas==1.0.1->-r requirements.txt (line 1)) (1.14.0)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib==3.1.3->-r requirements.txt (line 4)) (46.0.0.post20200309)

In [57]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [58]:
data=pd.read_csv("heart_failure_clinical_records_dataset.train.csv")

train,test = train_test_split(data, random_state=1, train_size=0.8, test_size=0.2)

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DEATH_EVENT               239 non-null    int64
 1   age                       239 non-null    float64
 2   anaemia                   239 non-null    int64
 3   creatinine_phosphokinase  239 non-null    int64
 4   diabetes                  239 non-null    int64
 5   ejection_fraction         239 non-null    int64
 6   high_blood_pressure       239 non-null    int64
 7   platelets                 239 non-null    float64
 8   serum_creatinine          239 non-null    float64
 9   serum_sodium              239 non-null    int64
 10  sex                       239 non-null    int64
 11  smoking                   239 non-null    int64
 12  time                      239 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 24.4 KB

In [60]:
train.to_csv('train.csv', index = False)
test.to_csv('test.csv', index = False)

In [61]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191 entries, 0 to 37
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DEATH_EVENT               191 non-null    int64
 1   age                       191 non-null    float64
 2   anaemia                   191 non-null    int64
 3   creatinine_phosphokinase  191 non-null    int64
 4   diabetes                  191 non-null    int64
 5   ejection_fraction         191 non-null    int64
 6   high_blood_pressure       191 non-null    int64
 7   platelets                 191 non-null    float64
 8   serum_creatinine          191 non-null    float64
 9   serum_sodium              191 non-null    int64
 10  sex                       191 non-null    int64
 11  smoking                   191 non-null    int64
 12  time                      191 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 20.9 KB

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 233 to 29
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   DEATH_EVENT               48 non-null     int64
 1   age                       48 non-null     float64
 2   anaemia                   48 non-null     int64
 3   creatinine_phosphokinase  48 non-null     int64
 4   diabetes                  48 non-null     int64
 5   ejection_fraction         48 non-null     int64
 6   high_blood_pressure       48 non-null     int64
 7   platelets                 48 non-null     float64
 8   serum_creatinine          48 non-null     float64
 9   serum_sodium              48 non-null     int64
 10  sex                       48 non-null     int64
 11  smoking                   48 non-null     int64
 12  time                      48 non-null     int64
dtypes: float64(3), int64(10)
memory usage: 5.2 KB